.wrapper {
    padding: 20px;
    text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  display: block;
  margin-left: 490px;
  margin-right: auto;
  text-align: center;
}

.Widget {
    padding: 50px;
    text-align: center;
}

.Sidebar { 
  display: 'flex';
  height: '100vh';
  overflow: 'scroll initial'

}

.Name{
  display: block;
  margin-left: 360px;
  margin-right: auto;
  width: 50%;
}

.Small-Logo{
  object-fit: cover;
  display: block;
  height: 50px;
  margin-left: auto;
  margin-right: 0px;
}

.Temp{display:flex; flex-direction:row;}

.Top-Layer{display:flex; flex-direction:row;}